@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  font-family: "Nanum Gothic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol.ul,
li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

button:active {
  box-shadow: inset 0px 1px 11px 1px #54898d;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h1,
h2 {
  color: #ac4732;
}

input,
textarea {
  border: unset;
  border: 1px solid #cecece;
  border-radius: 10px;
}

input:hover,
textarea:hover {
  border: 1px solid #ac4732;
}

input:focus,
textarea:focus {
  outline: 1px solid #ac4732;
}

i {
  font-size: 1.2rem;
  pointer-events: none;
}
