@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  font-family: "Nanum Gothic", sans-serif;
}

/* width */

.menu_container,
.menu_02 > .item_container,
.menu_03 > .work_container {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 100%;
}
/* height */

.menu_container,
.menu_01,
.menu_02,
.item_container,
.contact {
  height: calc(100vh - 100px);
}

/* top_title h2 */
.menu_02 > .item_container > .item > .content_box > .skills > h2,
.menu_02 > .item_container > div > h2,
.menu_03 > .work_container > h2,
.menu_04 > .contact > h2 {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.container,
.menu_container,
.menu_left,
.menu_right,
.menu_02,
.item_container,
.menu_02 > .item_container > .item > .content_box > .skills,
.menu_03 > .work_container,
.contact,
.menu_02 > .item_container > .item > .content_box > .content {
  /* border: 1px solid red; */
}

.container {
  height: 100px;
}

.container > ul > li > a {
  text-decoration: none;
  color: rgb(91, 91, 91);
}
.container > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  height: 100px;
  line-height: 100px;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  z-index: 10;
  box-shadow: #ababab 0px 7px 12px;
}

.container > ul > li {
  margin-left: 20px;
  margin: 0 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(91, 91, 91);
}

.container > ul > li:last-child {
  margin-right: 250px;
}
.menu_container {
  display: flex;
}

.menu_container > .menu_left {
  padding: 200px 150px;
  margin: 0 auto;
}
.menu_container > .menu_left > h1 {
  font-size: 6rem;
  font-size: bold;
  font-family: "Anton", sans-serif;
  letter-spacing: 10px;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
}

.menu_container > .menu_left > .bt_top > button {
  width: 180px;
  height: 50px;
  font-size: 1.2rem;
  background: linear-gradient(to right top, #861657, #ffa69e);
  border: 0px;
  border-radius: 50px;
  color: #fff;
}

.menu_container > .menu_left > p {
  color: #95275f;
  font-weight: bold;
  line-height: 30px;
}
.menu_container > .menu_left > .bt_top {
  width: 150px;
  height: 50px;
  margin: 30px auto;
  font-size: 1.2rem;
}

/* menu_01 start */
.menu_01 > .menu_container 



/* menu_02 start*/

.menu_02 > .item_container > div > h2 {
  text-align: center;
  padding: 50px;
}

.menu_02 > .item_container > .item > .content_box {
  width: 1100px;
  height: 670px;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  position: relative;
  border-radius: 30px;
}
.menu_02 > .item_container > .item > .content_box > .box {
  background-image: url(./images/unnamed.jpg);
  background-size: cover;
}

.menu_02 > .item_container > .item > .content_box > .box {
  width: 400px;
  height: 400px;
  background-color: rgb(154, 154, 154);
  border-radius: 100px;
}

.menu_02 > .item_container > .item > .content_box > div + p {
  font-size: 35px;
  padding: 50px;
  line-height: 55px;
}

.menu_02 > .item_container > .item > .content_box > .box_top {
  position: absolute;
  top: 100px;
  right: 140px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.menu_02 > .item_container > .item > .content_box > .box_top > h2 {
  padding: 10px;
  line-height: 40px;
}
.menu_02
  > .item_container
  > .item
  > .content_box
  > .skills
  > .skills_content
  > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.4);
}
.menu_02 > .item_container > .item > .content_box > .skills > h2 {
  background: rgba(255, 255, 255, 0.4);
}

.menu_02
  > .item_container
  > .item
  > .content_box
  > .skills
  > .skills_content
  > ul
  > li
  > img {
  width: 100px;
  margin-right: 20px;
}

/* menu_03 start */

.menu_03 {
  height: 1200px;
}

.menu_03 > .work_container > .item {
  width: 1100px;
  height: 250px;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 40px;
  position: relative;
}

.menu_03 > .work_container > .item > div > img {
  margin: 25px 100px;
  box-shadow: 3px -1px 13px 1px #b7b7b7;
}

.menu_03 > .work_container > .item > .itemc1 > h2 {
  position: absolute;
  top: 30px;
  left: 500px;
}

.menu_03 > .work_container > .item > .itemc1 > h2 + p {
  position: absolute;
  top: 100px;
  left: 500px;
}

.menu_03 > .work_container > .item > .itemc1 > button {
  position: absolute;
  top: 160px;
  left: 500px;
  padding: 10px 20px;
  border: 0px;
  border-radius: 30px;
  font-size: 1.3rem;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.menu_03 > .work_container > .item > .itemc1 > button:hover {
  padding: 15px 25px;
  cursor: pointer;
}

/* menu_04 start */
.menu_04 > .contact > .contact_board {
  width: 800px;
  height: 50%;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 6px 20px #878787;
  display: flex;
  flex-wrap: wrap;
}

.menu_04 > .contact {
  width: 1200px;
  margin: 0 auto;
}

.menu_04 > .contact > .contact_board > .contact_left,
.menu_04 > .contact > .contact_board > .contact_right {
  background-color: rgb(232, 232, 232);
  width: 50%;
  /* height: 50%; */
}

.menu_04 > .contact > .contact_board > .contact_left > div > p,
.menu_04 > .contact > .contact_board > .contact_right > div > p {
  font-weight: bold;
  font-size: 1.2rem;
}

.menu_04 > .contact > .contact_board > .contact_left > div,
.menu_04 > .contact > .contact_board > .contact_right > div {
  margin: 100px;
  text-align: center;
}

.menu_04 > .contact > .contact_board > .contact_left > div > img {
  margin-bottom: 20px;
  width: 3rem;
}

.menu_04 > .contact > .contact_board > .contact_right > div > img {
  width: 4rem;
}

.menu_02 > .item_container > .item > .wrap {
  display: flex;
}

.menu_02 > .item_container > .item > .content_box {
}
.menu_02 > .item_container > .item > .content_box > .content {
  width: 300px;
  text-align: center;
  margin: 8px;
}

.menu_02 > .item_container > .item > .content_box > .content > img {
  margin: 50px;
  width: 100px;
}

.menu_02 > .item_container > .item > .content_box > .wrap4 > img {
  margin-top: 70px;
}

.menu_02 > .item_container > .item > .content_box > .content > .title {
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 20px;
}

.menu_02 > .item_container > .item > .content_box > .content > .content {
  line-height: 30px;
}

.menu_02 > .item_container > .item > .content_box > h2 {
  font-size: 60px;
  inherits: flex;
}

.menu_02 > .item_container > .item > .content_box > .content {
  background-color: #fff;
  box-shadow: #0002 0 0 4px 5px;
  border-radius: 10px;
}

.menu_02 > .item_container > .item > .content_box > .content > p {
  text-align: justify;
  margin: 10px;
}

.menu_02 > .item_container > .item > .content_box > .content > p.title {
  text-align: center;
}

.menu_02 > .item_container > .item > .content_box > .content > p > span {
  color: #ed3770;
  font-weight: bold;
}
.menu_02 > .item_container > .item > .content_box > .content > img {
  margin: inherit;
}

.menu_02 > .item_container > .item > .content_box > .wrap3 {
  padding: 50px 0;
}

.menu_02 > .item_container > .item > .content_box > .content > .img_wrapping {
  border: 1px solid red;
  width: 100px;
}

.menu_02 > .item_container > .item > .content_box > .profile_spec_wrapper {
  display: flex;
  justify-content: space-around;
}

.menu_02
  > .item_container
  > .item
  > .content_box
  > .profile_spec_wrapper
  > .profile_spec {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  text-align: center;
  height: 210px;
  padding: 10px;
  margin-top: 20px;
  margin: 15px;
}

.menu_02
  > .item_container
  > .item
  > .content_box
  > .profile_spec_wrapper
  > .profile_spec
  > .spec_title {
  font-weight: bold;
  font-size: 20px;
}

.menu_02
  > .item_container
  > .item
  > .content_box
  > .profile_spec_wrapper
  > .profile_spec
  .spec_education {
  font-weight: bold;
}

.menu_02
  > .item_container
  > .item
  > .content_box
  > .profile_spec_wrapper
  > .profile_spec
  > p {
  padding: 10px;
  line-height: 20px;
}

.menu_02
  > .item_container
  > .item
  > .content_box
  > .content
  > .img_wrapping
  > img {
  width: 100%;
}

/*menu_03 start  */

.menu_03 > .work_container > .item > .itemc1 > .img_wrapper,
.menu_03 > .work_container > .item > .itemc1 > .img_wrapper > img {
  border-radius: 10px;
}

.menu_03 > .work_container > .item > .itemc1 > button > a {
  text-decoration: none;
  color: #000;
}

.menu_03 > .work_container > .item > .itemc1 > .img_wrapper {
  width: 400px;
  height: 200px;
  margin-left: 50px;
}

.menu_03 > .work_container > .item > .itemc1 > .img_wrapper > img {
  width: 100%;
  margin-top: 35px;
  box-shadow: #0003 0 0 4px 5px;
}
